.hover:hover {
	cursor: pointer;
}

.main-button {
	background-color: #2ecc71;
}

.main-button:hover {
	box-shadow: 0 0 20px #2ecc71;
	background-color: #2ecc71;
}

.main-button:link,
.main-button:visited,
.main-button:focus,
.main-button:active {
	background-color: #2ecc71;	
}